<div class="header">
    <img src="assets/Home_Images/logo.png" alt="" class="logo">
    <div class="timkiem">
        <form action="" method="get" role="search">
            <input type="text" placeholder="Tìm kiếm sản phẩm" id="otimkiem" name="key">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="dienthoai">
        <span>Hotline:</span>
        <span>094 148 0000</span>
    </div>
    <div class="giohang">
        <p style="    margin-bottom: -10px;
        background: red;
        margin-left: 55px;
        width: 20px;
        border-radius: 10px;
        color: white;">
            {{ total }}
        </p>
        <a routerLink="/cart/cart"><img src="assets/Home_Images/cart.png" alt="" class="cart">
        </a>
        <p>Giỏ hàng</p>
    </div>

    <div class="taikhoan" style="    margin-top: 13px;">
        <a href=""><img src="assets/Home_Images/acc.png" alt="" class="acc"></a>
        <p>Tài khoản</p>
    </div>
</div>