<div class="thanhmenu">
    <ul>
        <li><a routerLink="/">TRANG CHỦ</a></li>
        <li><a routerLink="/gioithieu/gioithieu">GIỚI THIỆU</a></li>
        <li><a routerLink="/sanpham">SẢN PHẨM</a></li>
        <li>
            <a href="#">DANH MỤC - SẢN PHẨM</a>
            <ul>
                <li *ngFor="let row of loai"><a routerLink="/danhmuc/danhmuc/{{ row.maloai }}">{{ row.tenloai }}</a></li>
            </ul>
        </li>
        <!-- <li>
            <a href="# ">DANH SÁCH  - SẢN PHẨM</a>
            <ul>
                <li><a href=" ">Sản phẩm bán chạy</a></li>
                <li><a href=" ">Sản phẩm mới nhập</a></li>
            </ul>
        </li> -->
        <li><a routerLink="/tintuc/tintuc">TIN TỨC</a></li>
    </ul>
</div>