<div class="sanpham">
    <div class="g">
        <div class="t">
            <h1>{{ item.tensp }}</h1>
        </div>
    </div>
    <div class="sp" style="width: 1100px; height: 1000px;border-bottom: 1px solid black;">
        <div class="ha">
            <img src="../../../assets/Images_SP/{{item.hinhanh}}" alt="">
        </div>
        <div class="thongtin">
            <div class="o">
                <span class="gb" style="display: inline-block;margin-left: 7px;font-weight: bold;color: red;font-size: x-large;">
                	Giá bán:{{ item.dongia|number}}VNĐ
				</span>
            </div>
            <div class="oo" style="font-weight: 700">
                Mã sản phẩm:{{ item.masp }} <br> Tên sản phẩm:{{ item.tensp }} <br> Bảo hành:{{ item.baohanh }} <br>

            </div>
            <div class="mua" style="width: 220px; height: 40px;">
                <p class="m" style="margin-left: 110px;">
                    <button type="button" (click)="addToCart(item)" name="add-to-cart" data-id="" style="margin-top:5px; width:220px; height:40px;background-color: #DC4D41;transition-duration: 0.4s;transition-duration: 0.4s;border: snow; color: white;" class="themgiohang">
            		MUA NGAY
            	</button>
                    <!-- <input type="submit" value="MUA NGAY"> -->
                </p>
            </div>
        </div>
        <div class="chitiet" style="border-bottom: 1ch">
            <div class="a">
                <div class="chi" style="width: 250px;height: 40px; margin-top: 25px;">
                    <span class="ch">
						MÔ TẢ SẢN PHẨM
                    </span>
                </div>
            </div>
            {{ item.mota }}
            <div>
            </div>
        </div>
    </div>
    <div class="sanphamlienquan" style="width: 1100px; height: 400px; margin: auto; ">
        <div class="chi" style="    width: 250px;
		height: 48px;
		margin-top: 10px;">
            <span class="ch">
				SẢN PHẨM LIÊN QUAN
			</span>
        </div>
        <div class="splienquan">
            <div class="col-xs- col-sm- col-md- col-lg-">
                <div class="row">
                    <div class="col-sm-3">
                        <a href=""><img src="" alt=""></a>
                        <h5 style="padding-left: 5px"></h5>
                        <span style="padding-left: 5px; color:red;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
