<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Danh sách nhân viên</h3>
                <button class="btn btn-default" (click)="showAddModal()" style="    background: blue;">Thêm</button>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="border-top-0">Mã nhân viên</th>
                                <th class="border-top-0">Tên nhân viên</th>
                                <th class="border-top-0">Chức vụ</th>
                                <th class="border-top-0">Email</th>
                                <th class="border-top-0">Địa chỉ</th>
                                <th class="border-top-0">Số điện thoại</th>
                                <th class="border-top-0">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody style="color: black;">
                            <tr *ngFor="let row of nhanvien;let i=index">
                                <td>{{ row.maNv }}</td>
                                <td>{{ row.tenNv }}</td>
                                <td>{{ row.chucVu }}</td>
                                <td>{{ row.emailNv }}</td>
                                <td>{{ row.diaChi }}</td>
                                <td>{{ row.phoneNv }}</td>
                                <td>
                                    <a class="sua">
                                        <span class="fa fa-edit" (click)="showEdit(row.maNv)"></span>
                                    </a> <br>
                                    <a (click)="deletItem(row.maNv)" class="xoa">
                                        <span class="fa fa-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modals-->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Thêm Nhân viên</h4>
                <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <form #FormValue="ngForm" class="was-validated" *ngIf="entity" (ngSubmit)="Save(FormValue.value)">
                    <div class="form-group">
                        <label for="">Tên nhân viên:</label>
                        <input type="hidden" class="form-control" #maNv="ngModel" [(ngModel)]="entity.maNv" name="maNv">
                        <input type="text" class="form-control" #tenNv="ngModel" [(ngModel)]="entity.tenNv" name="tenNv" placeholder="Nhập Tên nhân viên ...">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Chức vụ:</label>
                        <input type="text" class="form-control" #chucVu="ngModel" [(ngModel)]="entity.chucVu" name="chucvu" placeholder="Nhập chức vụ nhân viên ...">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Email:</label>
                        <input type="text" class="form-control" #emailNv="ngModel" [(ngModel)]="entity.emailNv" name="emailNv" placeholder="Nhập email nhân viên...">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Địa chỉ:</label>
                        <input type="text" class="form-control" #diaChi="ngModel" [(ngModel)]="entity.diaChi" name="diaChi" placeholder="Nhập địa chỉ nhân viên ...">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Số điện thoại:</label>
                        <input type="text" class="form-control" #phoneNv="ngModel" [(ngModel)]="entity.phoneNv" name="phonenv" placeholder="Nhập số điện thoại ...">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>