<div class="th">
    <div class="h">
        <p>
            <span style="font-size: 17px;">
        <strong>Bước vào xã hội hiện đại hóa,</strong>
        "thì nhu cầu sử dụng nước sạch cho cuộc sống sinh hoạt ngày càng được tăng cao. <br>Vói nhiều năm kinh nghiệm thì SmartViet tự hào là cửa hàng cung cấp máy lọc nước hàng đầu trong khu vực. Và <br>đi cùng với đó là phương châm:"Uy tín và chất lượng hàng đầu", chúng tôi luôn tự hào mang đến dịch vụ, sản <br>phẩm, trải nghiệm và giá tốt nhất cho khách hàng.
      </span>
        </p>
        <p>
            <span style="font-size: 17px;">
      <strong>Bên cạnh đó</strong> là đội ngũ nhân viên nhiệt tình, chu đáo và đầy kinh nghiệm luôn cố gắng mang những thông tin giá <br>trị tốt nhất cùng sự trải nghiệm tốt nhất cho khách hàng. Và chúng tôi tự hào về điều đó.
      </span>
        </p>
        <p>
            <span style="color: #0000ff; font-size: 17px;">
        SmartViệt hoạt động cùng với 6 giá trị cốt lõi :
      </span>
        </p>
        <ul>
            <li>
                <span style="font-size: 17px;">
          <strong>Sự nhiệt tình</strong> Đến với SmartViệt điều bạn cảm nhận đầu tiên là sự nhiệt tình ở đây. Đội ngũ nhân viên trẻ <br>trung, nhiệt huyết, luôn tận tâm với công việc.
        </span>
            </li>
            <li>
                <span style="font-size: 17px;">
          <strong>Sự chính trực</strong> Chúng tôi luôn chính trực và cam kết trong công việc. Điều đó luôn được khắc cốt trong <br>từng con người tại SmartViệt.
        </span>
            </li>
            <li>
                <span style="font-size: 17px;">
          <strong>Sự chuyên nghiệp</strong> Sự chuyên nghiệp luôn được chúng tôi ưu tiên đặt lên hàng đầu. Chuyên nghiệp từ <br>nghiệp vụ tới cử chỉ, lời nói. Chuyên nghiệp từng vị trí trong cửa hàng.
        </span>
            </li>
            <li>
                <span style="font-size: 17px;">
          <strong>Sự sáng tạo</strong> Tại SmartViệt mọi người luôn được khuyến khích sáng tạo và phát triển bản thân mỗi ngày.
        </span>
            </li>
            <li>
                <span style="font-size: 17px;">
          <strong>Sự tận tâm</strong> Sự hài lòng của khách hàng là tôn chỉ phục vụ hàng đầu.
        </span>
            </li>
            <li>
                <span style="font-size: 17px;">
          <strong>Sự lỗ lực</strong> Luôn nỗ lực phát triển bản thân và nỗ lực mang đến dịch vụ, sản phẩm và trải nghiệm tốt nhất <br>của khách hàng.
        </span>
            </li>
        </ul>
        <p>
            <span style="font-size: 17px;">
        <strong>SmartViệt cảm ơn quý khách hàng đã tin tưởng và sử dụng dịch vụ của chúng tôi suốt thời gian qua. <br>SmartViệt luôn tâm niệm cố gắng và cố gắng hơn nữa để luôn mang đến cho quý khách hàng dịch vụ <br>tốt nhất và xứng đáng với phương châm "UY TÍN VÀ GIÁ TRỊ HÀNG ĐẦU"</strong>
      </span>
        </p>
        <p>
            <span style="font-size: 17px;">
        <strong>Một lần nữa, SmartViệt cảm ơn quý khách hàng đã, đang và sẽ ủng hộ và trở thành những khách hàng <br>tuyệt vời của chúng tôi. Chân thành cảm ơn !</strong>
      </span>
        </p>
        <p>
            <span style="color: #0000ff; font-size: 17px;">
        SmartViệt – Đường 39, Yên Mĩ, Hưng Yên
      </span>
        </p>
        <p>
            <span style="color: red; font-size: 17px;">
            <strong>
            Hotline 1 : 098795.6666 <br>
            <br>
            Hotline 2 : 094148.0000
            </strong>
        </span>
        </p>
    </div>
</div>
