* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.header {
    background: white;
    width: 1100px;
    margin: auto;
    height: 105px;
    overflow: hidden;
    font-family: segoe ui light;
}

.header img.logo {
    float: left;
    margin-left: 20px;
    margin-right: 22px;
}

.header .timkiem {
    height: 100%;
    float: left;
    margin-right: 20px;
}

.header .timkiem input[type="text"] {
    width: 350px;
    height: 32px;
    margin-top: 26px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #444242;
}

.header .timkiem button {
    margin-top: 26px;
    color: white;
    width: 70px;
    height: 32px;
    padding-left: 5px;
    float: right;
    background-color: cadetblue;
    transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: snow;
    margin-left: 4px;
    border-radius: 6px;
}

.header .timkiem button:hover {
    transform: scale(1.03);
}

.header .dienthoai {
    height: 100%;
    float: left;
    font-family: segoe ui;
    padding-top: 21px;
    width: 166px;
    font-weight: bold;
    margin-right: 59px;
}

.header .dienthoai span:nth-child(2),
span:nth-child(4) {
    color: red;
}

.header .giohang {
    height: 100%;
    float: left;
    padding-top: 18px;
    text-align: center;
    margin-right: 20px;
}

.header .giohang img.cart {
    height: 42px;
}

.header .giohang p {
    font-weight: bold;
}

.header .taikhoan {
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 26px;
}

.header .taikhoan img.acc {
    height: 42px;
}

.header .taikhoan p {
    font-weight: bold;
}

.thanhmenu {
    width: 100%;
    height: 41px;
    background-color: #000000;
}

.thanhmenu>ul {
    width: 1100px;
    margin: auto;
    height: 100%;
}

.thanhmenu>ul>li {
    display: inline-block;
    height: 100%;
    position: relative;
}

.thanhmenu>ul>li>a {
    text-decoration: none;
    color: white;
    font-family: segoe ui light;
    display: inline-block;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 9px;
    transition: 0.4s;
    font-weight: bold;
    padding-right: 40px;
}

.thanhmenu>ul>li>a:hover {
    background-color: #FC0000;
}

.thanhmenu>ul>li>ul {
    width: 245px;
    list-style: none;
    position: absolute;
    top: 42px;
    left: 0px;
    visibility: hidden;
    transform-origin: 0% 0%;
    transition: 0.1s;
    transform: translateY(-10px);
    z-index: 99;
}

.thanhmenu>ul>li>ul>li {
    background: black;
    width: 100%;
    padding: 10px 10px;
}

.thanhmenu>ul>li:hover>ul {
    transform: translateY(0px);
    visibility: visible;
}

.thanhmenu>ul>li>ul>li a {
    text-decoration: none;
    display: block;
    color: white;
    font-family: segoe ui light;
    font-weight: bold;
}

.thanhmenu>ul>li>ul>li:hover {
    background-color: #FC0000;
}

.chinh {
    margin: auto;
    margin-top: 20px;
}

.title {
    margin-left: 0px;
    margin-top: 20px;
}


/* .title::before {
    margin: auto;
    content: '';
    position: absolute;
    left: 128px;
    top: 635px;
    display: inline-block;
    height: 2px;
    width: 74px;
    background-color: #fc0000;
} */

.anh1 {
    width: 750px;
    height: 400px;
    background-color: red;
    margin-left: 5px;
    margin-top: 10px;
}

.anh2 {
    height: 197px;
    width: 335px;
    background-color: black;
    margin-left: 760px;
    margin-top: -400px;
}

.anh2 img {
    transition: 0.4s;
    transform: scale(1);
}

.anh2 img:hover {
    transform: scale(1.03);
}

.anh3 {
    height: 197px;
    width: 335px;
    background-color: aqua;
    margin-left: 758px;
    margin-top: 6px;
}

.anh3 img {
    transition: 0.4s;
    transform: scale(1);
}

.anh3 img:hover {
    transform: scale(1.03);
}

ins {
    text-decoration: underline;
}

.col-sm-3 {
    width: 265px;
    height: 330px;
    border: solid 1px;
    border-radius: 10px;
    background-color: #F5F5F9;
    margin-top: 15px;
    margin-left: 15px;
}

.col-sm-3 img {
    width: 230px;
    height: 230px;
    margin: auto;
    transition: 0.4s;
    transform: scale(1);
    padding-top: 5px;
}

.col-sm-3 img:hover {
    transform: scale(1.03);
}

.col-sm-3 button {
    color: white;
    width: 100px;
    height: 30px;
    padding-left: 5px;
    float: right;
    background-color: cadetblue;
    transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: snow;
}

.col-sm-3 button:hover {
    background-color: darkcyan;
}

.chan {
    width: 100%;
    height: 400px;
    margin: auto;
    margin-top: 55px;
    overflow: hidden;
    font-family: segoe ui light;
}

#chanall {
    width: 1100px;
    height: 400px;
    margin: auto;
    overflow: hidden;
    font-family: segoe ui light;
}

.chan1 {
    width: 260px;
    height: 400px;
    margin-left: 0px;
}

.vit {
    position: relative;
    font-size: 18px;
    padding-bottom: 8px;
    margin: 0 0 20px;
    border-bottom: 1px solid #ebebeb;
    font-weight: 600;
    text-transform: uppercase;
}

.vit::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    display: inline-block;
    height: 2px;
    width: 65px;
    background-color: #fc0000;
}

.diachi img {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid #777;
    color: #777;
    margin-right: 9px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    margin-top: 3px;
}

.diachi span.p {
    color: #222;
    font-weight: bold;
    line-height: 1.5;
}

.diachi span.q {
    color: black;
    line-height: 18px;
    font-size: 14px;
}

.phone {
    margin-top: 10px;
}

.phone img {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid #777;
    color: #777;
    margin-right: 9px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    margin-top: 3px;
}

.phone span.d {
    margin-top: 10px;
    color: #222;
    font-weight: bold;
    line-height: 1.5;
}

.phone span.t {
    color: black;
    line-height: 18px;
    font-size: 14px;
}

.hot {
    margin-top: 10px;
}

.hot img {
    width: 40px;
    height: 40px;
    border: 1px solid #777;
    color: #777;
    margin-right: 9px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    margin-top: 3px;
}

.hot span.h {
    margin-top: 10px;
    color: #222;
    font-weight: bold;
    line-height: 1.5;
}

.hot span.l {
    color: black;
    line-height: 18px;
    font-size: 14px;
}

.email {
    margin-top: 10px;
}

.email img {
    width: 40px;
    height: 40px;
    border: 1px solid #777;
    color: #777;
    margin-right: 9px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    margin-top: 3px;
}

.email span.e {
    margin-top: 10px;
    color: #222;
    font-weight: bold;
    line-height: 1.5;
}

.email span.m {
    color: black;
    line-height: 18px;
    font-size: 14px;
}

.web {
    margin-top: 10px;
}

.web img {
    width: 40px;
    height: 40px;
    border: 1px solid #777;
    color: #777;
    margin-right: 9px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    margin-top: 3px;
}

.web span.w {
    margin-top: 10px;
    color: #222;
    font-weight: bold;
    line-height: 1.5;
}

.web span.s {
    color: black;
    line-height: 18px;
    font-size: 14px;
}

.chan2 {
    width: 270px;
    height: 400px;
    margin-top: -400px;
    margin-left: 274px;
}

.noi {
    position: relative;
    font-size: 18px;
    padding-bottom: 8px;
    margin: 0 0 20px;
    border-bottom: 1px solid #ebebeb;
    font-weight: 600;
    text-transform: uppercase;
}

.noi::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    display: inline-block;
    height: 2px;
    width: 65px;
    background-color: #fc0000;
}

.face img {
    width: 40px;
    height: 40px;
    border: 1px solid #777;
    color: #777;
    margin-right: 9px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    margin-top: 3px;
}

.face spna.f {
    margin-top: 10px;
    color: black;
    line-height: 18px;
    font-size: 14px;
}

.go {
    margin-top: 33px;
}

.go img {
    width: 40px;
    height: 40px;
    border: 1px solid #777;
    color: #777;
    margin-right: 9px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    margin-top: 3px;
}

.go spna.g {
    margin-top: 10px;
    color: black;
    line-height: 18px;
    font-size: 14px;
}

.you {
    margin-top: 33px;
}

.you img {
    width: 40px;
    height: 40px;
    border: 1px solid #777;
    color: #777;
    margin-right: 9px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    margin-top: 3px;
}

.you spna.y {
    margin-top: 10px;
    color: black;
    line-height: 18px;
    font-size: 14px;
}

.chan3 {
    width: 260px;
    height: 400px;
    margin-top: -400px;
    margin-left: 557px;
}

.khoan {
    position: relative;
    font-size: 18px;
    padding-bottom: 8px;
    margin: 0 0 20px;
    border-bottom: 1px solid #ebebeb;
    font-weight: 600;
    text-transform: uppercase;
}

.khoan::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    display: inline-block;
    height: 2px;
    width: 80px;
    background-color: #fc0000;
}

.n {
    color: black;
    font-size: 16px;
}

.chan4 {
    width: 270px;
    height: 400px;
    margin-top: -400px;
    margin-left: 840px;
}

.tro {
    position: relative;
    font-size: 18px;
    padding-bottom: 8px;
    margin: 0 0 20px;
    border-bottom: 1px solid #ebebeb;
    font-weight: 600;
    text-transform: uppercase;
}

.tro::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    display: inline-block;
    height: 2px;
    width: 80px;
    background-color: #fc0000;
}

.head_nav.fix {
    background: white;
    left: 0;
    max-width: 100%;
    overflow: visible;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1000;
}

@media (min-width: 576px) {
    .col-sm-3 {
        max-width: 23% !important;
    }
    .modal-content {
        width: 110% !important;
    }
    .col-sm-3 h5 {
        font-weight: 200;
        font-size: 19px;
    }
}
