<div class="chan">
    <div id="chanall">
        <div class="chan1">
            <div id="smart">
                <h3 class="vit" style="font-style: oblique;">
                    SMARTVIET
                </h3>
                <div class="diachi">
                    <img src="assets/Home_Images/1.png" class="a">
                    <span class="p">Địa chỉ:</span><br>
                    <span class="q"><strong>Đường 39-Yên Mĩ-Hưng Yên</strong></span>
                </div>
                <div class="phone">
                    <img src="assets/Home_Images/2.PNG" class="b">
                    <span class="d">Điện thoại:</span><br>
                    <span class="t"><strong>0812991828 - 0941480000</strong></span>
                </div>
                <div class="hot">
                    <img src="assets/Home_Images/3.PNG" alt="">
                    <span class="h">Hotline:</span><br>
                    <span class="l"><strong>0941480000-0941480000</strong></span>
                </div>
                <div class="email">
                    <img src="assets/Home_Images/4.PNG" alt="">
                    <span class="e">Email:</span><br>
                    <span class="m"><strong>Smartviet6666@gmail.com</strong></span>
                </div>
                <div class="web">
                    <img src="assets/Home_Images/5.PNG" alt="">
                    <span class="w">Website:</span><br>
                    <span class="s"><strong>http://www.smartviets.com</strong></span>
                </div>
            </div>
        </div>
        <div class="chan2">
            <div id="ket">
                <h3 class="noi" style="font-style: oblique;">
                    KẾT NỐI VỚI CHÚNG TÔI
                </h3>
                <div class="face">
                    <img src="assets/Home_Images/6.PNG" class="a">
                    <span class="f"><strong>www.facebook.com/smartviets</strong> </span><br>
                </div>
                <div class="go">
                    <img src="assets/Home_Images/7.PNG" class="a">
                    <span class="g"><strong>http://smartviets.com/</strong> </span><br>
                </div>
                <div class="you">
                    <img src="assets/Home_Images/8.PNG" class="a">
                    <span class="y"><strong>www.youtube.com/SMchannel</strong> </span><br>
                </div>
            </div>
        </div>
        <div class="chan3">
            <div id="tai">
                <h3 class="khoan" style="font-style: oblique;">
                    TÀI KHOẢN NGÂN HÀNG
                </h3>
                <span class="ten"><strong>CHỦ TÀI KHOẢN: NGUYỄN VĂN A</strong></span><br>
                <span class="n" style="color: black;">
        <strong>
        – Maritimebank :03001010925735 <br>
        – VPbank : 35991999 <br>
        – Agribank CN HN :3100205555825 <br>
        – Techcombank :19032441699999 <br>
        – MBBank : 0040100126666 <br>
        </strong>
      </span>
            </div>
        </div>
        <div class="chan4">
            <div id="ho">
                <h3 class="tro" style="font-style: oblique;">
                    HỖ TRỢ KHÁCH HÀNG
                </h3>
                <img src="assets/Home_Images/10.PNG" alt style="width: 260px;">
            </div>
        </div>
    </div>
</div>