<div class="chinh" style="width: 1100px;height: 410px;">
    <div class="anh1">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" style="height: 410px;">
                    <img class="d-block w-100" src="assets/Home_Images/anh1.png" alt="First slide" style="height: 400px;">
                </div>
                <div class="carousel-item" style="height: 410px;">
                    <img class="d-block w-100" src="assets/Home_Images/anh2.jpg" alt="Second slide" style="height: 400px;">
                </div>
                <div class="carousel-item" style="height: 410px;">
                    <img class="d-block w-100" src="assets/Home_Images/anh3.jpg" alt="Third slide" style="height: 400px;">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="anh2"><img src="assets/Home_Images/anh4.jpg" alt style="width: 335px;height: 197px;"></div>
    <div class="anh3"><img src="assets/Home_Images/anh5.jpg" alt style="width: 335px; height: 197px;"></div>
</div>
<div class="chinh" style="width: 1100px;">
    <div class="sanpham" style="">
        <div id="Sanpham">
            <div id="pham" class="pham">
                <h3 class="title" style="font-style: oblique;">
                    Sản phẩm mới
                </h3>
            </div>
            <div class="col-xs- col-sm- col-md- col-lg-">
                <div class="row">
                    <ng-container *ngFor="let row of main;let i=index">
                        <ng-container *ngIf="i< 8">
                            <div class=" col-sm-3 ">
                                <a [routerLink]="['/sanpham',row.masp] "><img src="../../../assets/Images_SP/{{row.hinhanh}} " alt=" "></a>
                                <h5 style="padding-left: 5px ">{{row.tensp}}</h5>
                                <span style="padding-left: 5px; color:red; ">{{row.dongia | currency : 'VND' : true}}</span>
                                <button type="button " (click)="addToCart(row)" class="themgiohang " name="add-to-cart " data-id=" ">MUA NGAY</button>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="sanpham" style="margin-top: 40px;">
        <div id="Sanpham">
            <div id="pham">
                <h3 class="title" style="font-style: oblique;">
                    Sản phẩm nổi bật
                </h3>
            </div>
        </div>
        <div class="col-xs- col-sm- col-md- col-lg-">
            <div class="row">
                <ng-container *ngFor="let row of main;let i=index">
                    <ng-container *ngIf="i>=main.length-8">
                        <div class=" col-sm-3 ">
                            <a [routerLink]="['/sanpham',row.masp] "><img src="../../../assets/Images_SP/{{row.hinhanh}} " alt=" "></a>
                            <h5 style="padding-left: 5px ">{{row.tensp}}</h5>
                            <span style="padding-left: 5px; color:red; ">{{row.dongia | currency : 'VND' : true}}</span>
                            <button type="button " (click)="addToCart(row)" class="themgiohang " name="add-to-cart " data-id=" ">MUA NGAY</button>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div> -->
</div>